/* your code here */
.description h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.description ul {
  padding-left: 18px;
  font-size: 14px;
  color: #555;
}

.description li {
  margin-bottom: 6px;
}

.add-to-cart {
  margin-top: 25px;
  padding: 12px 28px;
  background-color: #ff3b3b;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.product{
	display:flex;
	justify-content:space-between;
}
.price{
	color:red;
	font-size:30px;
}
.variant ul{
	display:flex;
	justify-content: space-between;
	list-style-type:none;
}